<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bread&Circus</title>
    <link rel="stylesheet" href="/styles/index.css" />
    <!-- Link to font styles -->
    <link
      href="https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre&family=Inter:wght@700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header>
      <a href="/" class="logo-link">
        <h1>Bread&Circus</h1>
      </a>
      <nav>
        <ul>
          <li><a href="/news">news</a></li>
          <li><a href="/sports">sports</a></li>
          <li><a href="/weather">weather</a></li>
          <li><a href="/jokes">jokes</a></li>
        </ul>
      </nav>
    </header>
    <div class="hero-container">
      <img
        src="/assets/AreYouNotEntertained2.png"
        alt="Are You Not Entertained"
      />
      <div class="hero-mask">
        <h2>Are You Not Entertained ??</h2>
      </div>
    </div>
    <section class="poison-section">
      <h2>Pick thy poison, plebeian</h2>
    </section>
    <section class="tiles-section">
      <div class="grid-container">
        <a href="/news" class="grid-item">
          <img src="/assets/news.png" alt="News" />
          <div class="overlay">
            <h2>NEWS</h2>
          </div>
        </a>
        <a href="/sports" class="grid-item">
          <img src="/assets/sports.png" alt="Sports" />
          <div class="overlay">
            <h2>SPORTS</h2>
          </div>
        </a>
        <a href="/weather" class="grid-item">
          <img src="/assets/weather.png" alt="Weather" />
          <div class="overlay">
            <h2>WEATHER</h2>
          </div>
        </a>
        <a href="/jokes" class="grid-item">
          <img src="/assets/jokes.png" alt="Jokes" />
          <div class="overlay">
            <h2>JOKES</h2>
          </div>
        </a>
      </div>
    </section>
    <footer>
      <p>&copy; BreadandCircus 2024. All Rights Reserved.</p>
    </footer>
    <script src="/index.js"></script>
  </body>
</html>
