<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sports - Bread&Circus</title>
    <link rel="stylesheet" href="/styles/sports.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre&family=Inter:wght@700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header>
      <a href="/" class="logo-link">
        <h1>Bread&Circus</h1>
      </a>
      <nav>
        <ul>
          <li><a href="/news">news</a></li>
          <li><a href="/sports">sports</a></li>
          <li><a href="/weather">weather</a></li>
          <li><a href="/jokes">jokes</a></li>
        </ul>
      </nav>
    </header>
    <div class="hero-container">
      <img src="/assets/sportsHero.png" alt="Sports" />
      <div class="hero-mask">
        <h2>Sports</h2>
      </div>
    </div>
    <section class="sports-section">
      <h2>Live scores for events to placate the masses</h2>
      <div class="sports-data">
        <!-- Sports data will be dynamically inserted here -->
      </div>
    </section>
    <footer>
      <p>&copy; BreadandCircus 2024. All Rights Reserved.</p>
    </footer>
    <script src="/scripts/sports.js"></script>
  </body>
</html>
